.carousel-frame {
    width: 300px;
    text-align: center;
    overflow: hidden;
}

.carousel-slides {
    display: flex;
    
    overflow-x: auto;
}

.carousel-slides > img {
    width: 300px;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}